<!doctype html>
<html ng-app='swenApp'>
<head>

	<% include header %>

	<title>Home</title>

</head>

<body ng-controller="homeCtrl">
	<% include navbar %>

	<main>
		<div class="container">
			<h2 ng-model="welcomeTagline">Hey, <%= user.username %></h2>
		</div>

		<div class="container">
			<div class="row">
                <div class="col-xs-5">
                    <!-- Today's events -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Today's Events</h3>
                        </div>
                        <div class="panel-body">
                            <% for (var i=0; i < events.length; i++) { %>
                                <strong><%= events[i].title %></strong><br>
                                <% if (events[i].location != "") { %>
                                    Location: <%= events[i].location %><br>
                                <% } %>
                                Start: <%= events[i].start %><br>
                                End: <%= events[i].end %>
                                <% if (i < events.length - 1) { %>
                                    <br>
                                <% } %>
                            <% } %>
                        </div>
                    </div>

                    <!-- Top 5 Stocks -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Top 5 Stocks</h3>
                        </div>
                        <div class="panel-body">
                            <div ng-repeat="item in topStocks | orderBy: 'amount' : true">
                            <p> Stock: {{item.ticker}}<br>
                            Current amount owned: {{item.amount}}<br>
                            Current Value: {{item.cValue}}</p>
                            </div>
                        </div>
                    </div>
                </div>

				<div class="col-xs-offset-1 col-xs-6">
                    <!-- Post tweet form -->
					<form class="form-horizontal">
						<div class="form-group">
							<textarea name="tweet" ng-model="tweetField" id="tweetField" class="form-control" rows="4" maxlength="140" placeholder="What's happening?"></textarea>
						</div>
						<div class="form-actions">
							<button type="submit" ng-click="postTweet()" class="btn btn-md btn-primary pull-right">Post Tweet</button>
						</div>
					</form>

					<% include twitter %>

				</div>
			</div>
		</div>

	<% include chat %>
	<% include socket %>

	</main>

</body>
</html>
