<!doctype html>
<html ng-app="swenApp">
<head>

   <% include header %>

   <title>Profile</title>
</head>
<body ng-controller="mainCtrl">
    <% include navbar %>

	<div class="container">
        <h2>Hi, <%= user.username %></h2>

        <p>id: <%= user.id %></p>
        <p>username: <%= user.username %></p>
        <p>displayName: <%= user.displayName %></p>
        <p>token: <%= user.token %></p>
        <p>tokenSecret: <%= user.tokenSecret %></p>
    </div>

</body>
</html>
